  /* ####### */
 /* Natives */
/* ####### */
html {
  min-height: 100%;
  position: relative;
  margin: 0px;
}
body {
    height: 100%;
    padding:0px;
    margin:0px;
    min-width: 500px;
    background-color:#89d6fb;;
    font-family: 'Rajdhani', sans-serif;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left:0px;
  margin:0px;
  color: white;
  text-align: center;
  background-color: #01303f;
}

h1 {
    margin:0px;
}
h2 {
  font-size: 6vmin;
  margin:0px;
  display: block;
  text-align: center;
}

ul {
    position: relative;
    left: 10vw;
}

li {
    list-style-position: inside;
    text-align: left;
    font-size: 3vmin;
}

p {
    font-size: 3vmin;
    padding: 20px;
}

iframe {
    overflow: visible;
    border: none;
    outline: none;
    width: 50vw;
    height: 28vw;
    padding:0px;
    margin: 0px;
    background-color: #89d6fb;
}
video {
  width: 600px;
  height: 400px;
}


  /* ####### */
 /* Classes */
/* ####### */

.title {
    vertical-align: middle;
    color:#01303f;
    font-family: 'Press Start 2P', cursive;
    padding: 0px;
    margin: 0px;
    font-size: 4min;
    text-shadow:
    -1px -1px 0 #02a9f7,
    1px -1px 0 #02a9f7,
    -1px 1px 0 #02a9f7,
    1px 1px 0 #02a9f7;  
}

.pageTitle {
    
    position: relative;
    
    vertical-align: middle;
    text-align: center;
    color:#01303f;
    font-family: 'Press Start 2P', cursive;
    padding: 1vw;
    margin: 30px 0px 20px 0px;
    font-size: 4vmin;
    text-shadow:
    -1px -1px 0 #02a9f7,
    1px -1px 0 #02a9f7,
    -1px 1px 0 #02a9f7,
    1px 1px 0 #02a9f7;  
    background-color:none;
}

.subtitle {
    
}

.task-box {
  width: 600px;
  margin-left: 50px;
  margin-right: 7000px;
  margin-top: 30px;
  margin-bottom: 10px;
  background: #02a9f7;
  border: 10px dashed black;
  padding: 10px;
}

.h-task {
  margin-top: 30px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5vmin;
  font-style: italic;
  
}

.p-task {
  
  font-style: italic;
}

.contentBlock { 
    background-image: none; 
    background-repeat: no-repeat;
    color:  #d4f0fc;
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    vertical-align: middle;
    margin:0px;
    padding:2vh;
    width: 45vw;
    height: 85vh;
    background-color: #02577a;
    display: inline-block;
    outline: none;
}


.contentBlock:hover {
    color:Black; 
    background-color:#89d6fb;
    cursor: pointer;
    background-position: center;
    outline: 3px solid black;
}

.contentArea{
  display: inline-block;
  position: relative;
  top:0px;
  vertical-align: top;
  width:80vw;
}

.floatRight {
  position: relative;
  float: right;
  margin: 50px;
}

.floatLeft {
  position: relative;
  float: left;
  margin: 50px;
}

  /* ####### */
 /* IDs */
/* ####### */

#titleBar {
    position: relative;
    vertical-align: middle;
    height: 8vh;
    background-color:#02a9f7;
    padding:1vh;
}

#titleBar:hover {
    background-color:#01303f;
}

#secondaryContentFrame {
    position:absolute;
    left: 10vw;
    top:0px;
    width:90vw;
    height:100vh;
  }

      /* ## MAIN ## */
     /*  I       N */
    /*  V G     O */
   /*  A   A   I */
  /*  N      T  */
 /* ## Main ## */

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #01303f;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar i, .navbar-side i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #89d6fb;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #89d6fb;
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  

      /* ## SIDE ## */
     /*  I       N */
    /*  V G     O */
   /*  A   A   I */
  /*  N      T  */
 /* ## SIDE ## */

/* Navbar container */
.navbar-side {
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    bottom:0px;
    /* overflow: hidden; */
    background-color: #01303f;
    font-family: Arial;
    max-width:10vw;
  }
  
  /* Links inside the navbar */
  .navbar-side a {
    width: 10vw;
    position: relative;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown-side {
    float: left;
    position:relative;
    /* overflow: hidden; */
  }
  
  /* Dropdown button */
  .dropdown-side .dropbtn-side {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    width: 10vw;
    padding: 14px 0px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a background color to navbar links on hover */
  .navbar-side a:hover, .dropdown-side:hover .dropbtn-side {
    background-color: #89d6fb;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content-side {
    display: none;
    position: absolute;
    left: 10vw;
    top: 0px;
    background-color: #f9f9f9;
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content-side a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content-side a:hover {
    background-color: #89d6fb;
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown-side:hover .dropdown-content-side {
    display: block;
  }


#youtube_video {
  width: 500px;
  height: 300px;
}