body {
  margin: 0px;
  padding: 0px;
}

#plannerWrapper {
  position: fixed;
  padding: 20px;
}

#page1 {

}

#page2 {
  left: 575px;
}

.plannerPage {
  padding: 20px;
  margin: 0px;
  width: 500px;
  position: absolute;
  display:inline-block;
  height: 700px;
  background: white;
  
}
#binder {
  z-index: -1;
  position: absolute;
  left: 550px;
  top: 25px;
  height: 730px;
  width: 40px;
  background: black;
}

.drop_shadow {
  -webkit-box-shadow: -12px 13px 60px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: -12px 13px 60px -2px rgba(0,0,0,0.55);
  box-shadow: -12px 13px 60px -2px rgba(0,0,0,0.55);
}
.left_rounded_corners {
  border-left: 10px dashed black;
  border-radius: 12px 0px 0px 18px;
}

.right_rounded_corners {
  border-right: 10px dashed black;
  border-radius: 0px 21px 10px 0px;
}

#tableInput {
  height: 8px;
  margin: 0px;
  /* width: 240px; */
  border: none;
  resize: none;
  border-spacing: 0px;
}
#tableInput:focus {
  border: none;
  outline:none;
}

/* Table Formatting */
.page_date{
  outline: 2px solid black;
  color: white;
  font-size: 20pt;
  background: black;
}
.period_section {
  padding: 0px;
  outline: 1px solid rgba(0,0,0,0.5);
  border-spacing: 0px;
}

.period_column{
  margin: 0px;
  padding: 0px;
  width: 60px;
  text-align: center;
  font-size: 30px;
  background: grey;
  color: black; 
}
.margin_column{
  width: 50px;
}
.main_column{
  width: 240px;
}
.notes_column{
  width: 150px;
}
.form_group_column {
  padding: 0;
  vertical-align: top;
}
.form_group {
  text-align: center;
  margin: 0px;
  font-size: 8px;
}

.planner_grid {
  padding: 0px;
  border-spacing: 0;
}

.planner_grid tr {
  margin: 0px;
  padding: 0px;
}
.planner_grid td {
  border-spacing: 0px;
  margin: 0px;
  height: 10px;
  padding: 0px;
  outline: 1px solid rgba(0,0,0,0.1);
}